{% extends 'base.html' %}

{% block title %}Resources and References{% endblock %}

{% block content %}
    <h1>Resources and References</h1>
    <ul>
        <p></p>
        <li>abhisuri97. (2019, August 19). How to use Python and Flask to build a web app - an in-depth tutorial. freeCodeCamp.org. </li>
        <p></p>
        <li>https://www.freecodecamp.org/news/how-to-use-python-and-flask-to-build-a-web-app-an-in-depth-tutorial-437dbfe9f1c6/</li>
        <p></p>
        <li>Build software better, together. GitHub. (n.d.). https://github.com/topics/plant-disease-detection</li>
        <p></p>
        <li>Dyouri, A. (2021, September 13). How to use templates in a flask application. DigitalOcean. https://www.digitalocean.com/community/tutorials/how-to-use-templates-in-a-flask-application</li>
        <p></p>
        <li>Flask. Full Stack Python. (n.d.). https://www.fullstackpython.com/flask.html</li>
        <p></p>
        <li>freeCodeCamp.org. (2020, August 12). Learn flask web development for python in this free 1-hour course. https://www.freecodecamp.org/news/learn-flask-for-python-full-tutorial/</li>
        <p></p>
        <li>freeCodeCamp.org. (2021, April 28). How to install flask in a virtual environment. https://www.freecodecamp.org/news/how-to-install-flask-in-a-virtual-environment/</li>
        <p></p>
        <li>GfG. (2023, February 5). Placeholders in Jinja2 template - python. GeeksforGeeks. https://www.geeksforgeeks.org/placeholders-in-jinja2-template-python/</li>
        <p></p>
        <li>Matplotlib.pyplot.imshow#. matplotlib.pyplot.imshow - Matplotlib 3.8.3 documentation. (n.d.-a). https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.imshow.html</li>
        <p></p>
        <li>Matplotlib.pyplot.imshow#. matplotlib.pyplot.imshow - Matplotlib 3.8.3 documentation. (n.d.-b). https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.imshow.html</li>
        <p></p>
        <li>Ochieng, O. E. (2021, November 1). How to authenticate users in flask with flask-login. freeCodeCamp.org. https://www.freecodecamp.org/news/how-to-authenticate-users-in-flask/</li>
        <p></p>
        <li>Papers with code - plantdoc dataset. Dataset | Papers With Code. (n.d.). https://paperswithcode.com/dataset/plantdoc</li>
        <p></p>
        <li>Real Python. (2022, December 20). Primer on Jinja Templating. https://realpython.com/primer-on-jinja-templating/</li>
        <p></p>
        <li>Real Python. (2024, March 22). Build a scalable flask web project from scratch. https://realpython.com/python-web-applications-with-flask-part-i/#articles-in-this-series</li>
        <p></p>
        <li>S, A. R. N. (2021, May 19). 05B CIFAR10 resnet - notebook by Aakash Rao N S (aakashns). Jovian. https://jovian.ai/aakashns/05b-cifar10-resnet</li>
        <p></p>
        <li>Shireen, A. (2020, June 25). Creating templates with jinja in python. Medium. https://atufashireen.medium.com/creating-templates-with-jinja-in-python-3ff3b87d6740</li>
        <p></p>
        <li>Start here with machine learning. MachineLearningMastery.com. (2024, January 30). https://machinelearningmastery.com/start-here/</li>
        <p></p>
        <li>Visualizing models, data, and training with tensorboard. Visualizing Models, Data, and Training with TensorBoard - PyTorch Tutorials 2.2.1+cu121 documentation. (n.d.). https://pytorch.org/tutorials/intermediate/tensorboard_tutorial.html</li>
        <p></p>
        <li>Welcome to flask. Welcome to Flask - Flask Documentation (2.3.x). (n.d.). https://flask.palletsprojects.com/en/2.3.x/</li>
        <p></p>
        <li>Welcome to pytorch tutorials. Welcome to PyTorch Tutorials - PyTorch Tutorials 2.2.1+cu121 documentation. (n.d.). https://pytorch.org/tutorials/</li>
        <p></p>
        <li>YouTube. (2020, January 13). Python jinja - learn how to extends HTML files in jinja template engine. YouTube. https://www.youtube.com/watch?v=7mdBRSBS5vc</li>
        <p></p>
        <li>YouTube. (2021a, February 1). Python website full tutorial - FLASK, authentication, Databases & More. YouTube. https://www.youtube.com/watch?v=dam0GPOAvVI</li>
        <p></p>
        <li>YouTube. (2021b, March 10). Flask Course - python web application development. YouTube. https://www.youtube.com/watch?v=Qr4QMBUPxWo</li>
        <p></p>
        <li>YouTube. (2021c, March 10). Flask Course - python web application development. YouTube. https://www.youtube.com/watch?v=Qr4QMBUPxWo&t=1109s</li>
        <p></p>
        <li>YouTube. (n.d.-a). Discover flask - http://discoverflask.com. YouTube. https://www.youtube.com/playlist?list=PLLjmbh6XPGK4ISY747FUHXEl9lBxre4mM</li>
        <p></p>
        <li>YouTube. (n.d.-b). Flask Tutorials. YouTube. https://www.youtube.com/playlist?list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH </li>
    </ul>
{% endblock %}
